---
title: The Home Club - Sell your home without an estate agent
---
<div class="top-section">
  <div class="overlay">
    <div class="outer-container">
      <div class="inner-container">
        <img src="/images/logo.svg" class="logo"/>

        <p>Quick and simple way to sell your home without an agent.</p>
        <p id="invite">Request an invite.</p>
        <form id="mc-form">
          <label for="mc-email"></label>
          <input id="mc-email" type="email" placeholder="email address...">
          <button type="submit" class="postfix button radius">Go</button>
        </form>
</div>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="intro">
    <h2>Selling Privately</h2>
    <p>Selling your home privately is easier than you think, all you need to do is get people through the door and agree a price. Then let the solicitors do the rest.</p>
<p>There are huge benefits to being in direct contact with potential buyers, plus nobody knows your home better than you. </p>

  </div>
    <div class="benefits">
      <div class="preview">
        <img src="images/pig.svg" class="icons" id="svg_img"/>
        <h3>Save Money</h3>
        <p>Bespoke pickled tote bag, ethnic ugh Intelligentsia small batch. Keffiyeh flannel chia, High Life roof party banjo street art small batch pug mixtape raw denim. Paleo American Apparel Helvetica 90's dreamcatcher Thundercats sriracha fashion axe.</p>
      </div>
      <div class="preview">
      <img src="images/control.svg" class="icons" id="svg_img"/>
        <h3>Full control</h3>
        <p>Bespoke pickled tote bag, ethnic ugh Intelligentsia small batch. Keffiyeh flannel chia, High Life roof party banjo street art small batch pug mixtape raw denim. Paleo American Apparel Helvetica 90's dreamcatcher Thundercats sriracha fashion axe.</p>
      </div>
      <div class="preview">
      <img src="images/medal.svg" class="icons" id="svg_img"/>
        <h3>Support</h3>
        <p>Bespoke pickled tote bag, ethnic ugh Intelligentsia small batch. Keffiyeh flannel chia, High Life roof party banjo street art small batch pug mixtape raw denim. Paleo American Apparel Helvetica 90's dreamcatcher Thundercats sriracha fashion axe.</p>
      </div>
    </div>
  </div>

<footer>
  <div class="footer-content">
    <div class="social">
      <a href="https://www.twitter.com/homeclubuk" target="_blank"><i class="icon-twitter"></i></a>
    </div>
    <div class="copy">
      <p>&copy; THE HOME CLUB</p>
    </div>
  </div>
</footer>